body{
  font: 15px Open Sans;
  padding:0;
  margin:0;
  background: #214668;
}

header{
  margin:auto;
  width:700px;
  text-align:left;
  color:#ffffff;
}

header a{
  color:#ffffff;
  text-decoration:none;
}

header h1{
  margin:0;
  padding:0;
}

/*NAVBAR*/

div#navbar{
  margin:auto;
  width:704px;
  border-radius: 6px;
  background-color: white;
}

nav ul li a{
  color:#214668;
  font-weight: bold;
  background-image: linear-gradient(#214668, #214668);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size .1s, color .15s;
  background-color:white;
}

nav ul li a:hover{
  background-size: 100% 100%;
  color: white;
}

nav ul{
  text-align:center;
  margin:0;
  padding:0;
}

nav li, nav li a{
  padding:0 20px 0 20px;
  display:inline;
  color:#000;
  text-decoration:none;
}

/*ARTICLE*/

div#container{
  background-color: white;
  margin:auto;
  width:704px;
}

div#container #coverflow h1{
  font-size:24px;
}

div#top{
  margin:auto;
  margin-top:20px;
  margin-bottom:-40px;
  background-color:white;
  width:704px;
  height:40px;
  border-top-left-radius:50%;
  border-top-right-radius:50%;
}

div#bottom{
  margin:auto;
  background-color:white;
  width:704px;
  height:10px;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
}

article h1{
  text-align: center;
  font-size: 30px;
  vertical-align:top;
}

article{
  background-color:#fff;
  padding:0px;
  margin:30px;
}

article img#feature{
  width:644px;
  object-fit:cover;
}

/*TABLE*/

table#coverflow{
  border-collapse: collapse;
  margin:auto;
  width:700px;
  background:#white;
  padding:0;
  margin-top:20px;
}

table#coverflow .description{
  text-align: left;
}

table#coverflow .date{
  font-size:12px;
  color:grey;
  float:left;
}

table img.date{
  margin-top:13px;
  height:16px;
  width:16px;
}

/*table#coverflow tr:hover{
  background:#f5f5f5;
}*/

table img.thumbnail{
  height:120px;
  width:120px;
  object-fit:cover;
  padding:10px 10px 0px 10px;
}

table#coverflow .flowimg{
  transition: all .15s ease-out;
}

table#coverflow a{
  text-decoration: none;
  color:black;
}

table#coverflow a:hover{
  text-decoration:underline;
}

table#coverflow tr{
    vertical-align:top;
}

table#coverflow tr:hover .flowimg{
    transform: scale(1.1);
    transition: all .15s ease-in-out;
}

table#coverflow th{
  height:1px;
  background: linear-gradient(to right, #eee , #214668);
}

table#coverflow h1{
  font-size:18px;
  margin:4px 0px 0px 0px;
}

table#coverflow .flowimg{
  width:0px;
}

div#footer{
  text-align:center;
  margin:auto;
}
