body{
  font: 15px Open Sans;
  padding:0;
  margin:0;
  background-color:#f8f8f8;
}

header{
  text-align:left;
  background: #454647;
  padding-left:10px;
  color:#ffffff;
}

header a{
  color:#ffffff;
  text-decoration:none;
}

header h1{
  margin:0;
  padding:0;
}

div#navbar{
  background: #51e2b7;
}

nav ul li a{
  font-weight: bold;
  background-image: linear-gradient(#3cd7a9, #3cd7a9);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size .1s, color .15s;
  background-color:#51e2b7;
}

nav ul li a:hover{
  background-size: 100% 100%;
  color: #111;
}

nav ul{
  text-align:center;
  margin:0;
  padding:0;
}

nav li, nav li a{
  padding:0 20px 0 20px;
  display:inline;
  color:#000;
  text-decoration:none;
}

article{
  overflow: auto;
  margin:auto;
  width:700px;
  background-color:#fff;
  padding: 10px;
  margin-top:10px;
}

/*TABLE*/

table#coverflow{
  border-collapse: collapse;
  margin:auto;
  width:700px;
  background:#eee;
  padding:0;
  margin-top:20px;
}

table#coverflow .description{
text-align: left;
}

table#coverflow tr:hover{
  background:#e8e8e8;
}

table img{
  height:120px;
  width:120px;
  object-fit:cover;
  padding:10px 10px 0px 10px;
}

table#coverflow .flowimg{
  transition: all .15s ease-out;
}

table#coverflow a{
  text-decoration: none;
  color:black;
}

table#coverflow a:hover{
  text-decoration:underline;
}

table#coverflow tr{
    vertical-align:top;
}

table#coverflow tr:hover .flowimg{
    transform: scale(1.1);
    transition: all .15s ease-in-out;
}

table#coverflow th{
  height:1px;
  background: linear-gradient(to right, #eee , #aaa);
  margin:0;
}

table#coverflow h1{
  font-size:18px;
  margin:0px 10px 0px 0px;
}

table#coverflow .flowimg{
  width:0px;
}
